<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
    <key>Label</key>
    <string>com.username.timeMachineScript</string>
    <key>ProcessType</key>
    <string>Adaptive</string>
    <key>ProgramArguments</key>
    <array>
        <string>path-to-script/timeMachineScript.sh</string>
    </array>
    <key>StartOnMount</key>
    <true/>
    <key>StartInterval</key>
    <integer>3300</integer>
    <key>RunAtLoad</key>
    <true/>
    <key>StandardOutPath</key>
    <string>/tmp/com.username.timeMachineScript.log</string>
    <key>StandardErrorPath</key>
    <string>/tmp/com.username.timeMachineScript.log</string>
</dict>
</plist>
